* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #121212;
    color: #fff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #bdbdbd;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f8443f;
}

.hero {
    background: url('https://preview.redd.it/hokusai-the-great-wave-off-kanagawa-reimagined-with-v0-35gypactn9ka1.png?width=2880&format=png&auto=webp&s=d27e2b23576e24acb2efa40b4b5de54337a9f3da') no-repeat center center/cover;
    height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero h2 {
    font-size: 98px;
    margin-bottom: 10px;
    color: #f8443f;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #f8443f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #3e93e2;
}   

.content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.card p {
    margin-bottom: 20px;
}

.card j {
    color: #f8443f;
}

footer {
    background-color: #1f1f1f;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}
